<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://JAVA.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">
   <display-name>mysite05</display-name>

   <!-- 공통 에러페이지: 과제:: 이 설정 없ㅇ탱기 (Web.xml)사라지지게 하기-->
   <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/views/error/404.jsp</location>
   </error-page>


</web-app>