@CHARSET "UTF-8";
@import "mysite.css";

#gallery			{ margin:20px auto;	width:540px; }
#gallery ul			{ width: 100%; }


/* 이미지 업로드 팝업 레이어 */ 
#dialog-upload-form 					{ text-align: left; }
#dialog-upload-form p					{ padding:20px 0 5px 0; font-weight: bold; font-size:1.1em }
#dialog-upload-form label, 
#dialog-upload-form input				{ display:block; }
#dialog-upload-form label				{ font-weight:bold; margin-top:10px; }
#dialog-upload-form input				{ outline:none; margin-top:5px; }
#dialog-upload-form input[type='text']	{ padding: 5px; border:2px solid #A9A9A9; width:260px; }

#upload-image {
    padding: 10px 20px 10px 20px;
    border: 1px solid #555;
    font-weight: bold;
    background-color: #E8ECF6;
    color: #111;
	display: block;
	float: right;
	text-decoration-line: none;
}
#gallery img{
	width:50px;
	height:250px;
	font-size: 0px;
}
#gallery h1	{
	float:left;
}
#gallery ul	{ 
   clear:both; 
}
#gallery ul li {
	position:relative;
	float:left; 
	overflow-y:hidden;
	padding: 10px 10px 10px 10px;
	
}
#gallery ul li a.image {
	width:114px;
	height:114px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: block;
}
#gallery a.del-button {
	position:absolute;
	width:20px;
	height:20px;
	display:none;
	right:2px;
	top:3px;
	display:none;
	background: #000 url('../images/delete-imge.png') no-repeat;
	background-size: contain;
	
	
}
#gallery ul li:hover a.del-button {
	font-size:0px;
	display:block;
}